	<h1>Git demo</h1>
	<h4>git status</h4>
	<h4>git add .</h4>
	<h4>git rm <i>file</i></h4>
	<h4>git commit</h4>
	<h4 class="strong">git commit -m "commit message"</h4>
	<h4 class="strong">git commit -a -m "commit message"</h4>
	<h4>git rm --cached README</h4>
	<h4>git mv file_from file_to</h4>
	<h4>git log</h4>
	<h4>git clone https://github.com/schacon/simplegit-progit</h4>
	<ul>
		<li>git init</li>
		<li>git clone</li>
		<li>git add</li>
		<li>git status</li>
		<li>git diff</li>
		<li>git reset</li>
		<li>git rm</li>
		<li>git mv</li>
		<li>git clean</li>
		<li>git branch</li>
		<li>git checkout</li>
		<li>git log</li>
		<li>git tag</li>
		<li>git fetch</li>
		<li>git pull</li>
		<li>git push</li>
		<li>git remote</li>
		<li>git archive</li>
		<li class="strong">git commit </li>
	</ul>